<!doctype html>
<html ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Untitled Document</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .jumbotron{width: 400px; margin-left: auto; margin-right: auto; margin-top: 10px; padding: 15px;}    
    .form-control{margin-bottom: 5px;}
</style>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script>
    
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Agenda Telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "99990088"},
                {nome: "Aline", telefone: "99990581"},
                {nome: "Guilherme", telefone: "99994033"}
            ];
            $scope.adicionarContato = function(contato){
              $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
        });
        
        
    </script>
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-controller="listaTelefonicaCtrl">

    <div class="jumbotron">
        <h3 class="text-center">{{app}}</h3>    
    <div>
    
    <table class="table table-bstriped">
        <tr> <th>Nome</th> <th>Telefone</th> </tr>
        <tr data-ng-repeat="contato in contatos">
        <td>{{contato.nome}}</td> <td>{{contato.telefone}}</td>
<!--            Outra forma seria:-->
<!--        <td ng-repeat="(key, value) in contato">{{value}} </td>-->
        </tr>
    </table>
<hr>

<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adcionar</button>

    </div>
    </div>
    
</body>
</html>